{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="row entry format-standard">

            <div align="center" class="entry__media col-full">
                <div align="center"  class="entry__post-thumb">
                    <img align="center" src="{{post.image.url}}"
                         srcset="{{post.image.url}} 2000w,
                                 {{post.image.url}} 1000w,
                                 {{post.image.url}} 500w"
                         sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                </div>
                <h1 align="center" class="entry__header-title display-1">
                    {{post.title}}
                </h1>
                <ul align="center" class="entry__header-meta">
                    <li align="center" class="date">{{post.created_at|date:"M d, Y"}}</li>
                    <li align="center" class="byline">
                        By
                        <a href="#0">{{post.author}}</a>
                    </li>
                </ul>
            </div>


            <p class="lead drop-cap"></p>
            {{post.content|safe}}




            

                <div class="entry__author">
                    <img src="{{post.author.avatar.url}}" alt="">

                    <div class="entry__author-about">
                        <h5 class="entry__author-name">
                            <span>پست شده توسط</span>
                            <a href="#0">{{post.author}}</a>
                        </h5>

                        <div class="entry__author-desc">
                            <p>
                                {{post.author.description}}
                            </p>
                        </div>
                    </div>
                </div>

            </div> <!-- s-entry__main -->

        </article> <!-- end entry/article -->




    </section> <!-- end s-content -->



    {% endblock  %}